<nav class="w-full px-[25px] md:px-[120px] xl:px-[160px]  h-[70px] md:h-[150px] pt-0 md:leading-[24px] bg-dark-brown flex text-[11px] md:text-[25px]">

    <div class="md:pl-[20px] self-center w-[74px] md:w-1/3 pt-0">
      <a href="index.html">
        <img src="./assets/images/logo.png" alt="Logo of the Green Games Guide project">
      </a>
    </div>

    <div class="leading-[16px] md:leading-[150px] text-green-main flex flex-col self-center text-right md:text-left md:inline-block ml-auto">
      <a class="block md:inline-block font-bold md:font-normal md:pr-[120px] hover:text-gray-blue-secondary" href="read.html">Read the guide</a>
      <a class="block md:inline-block md:pr-[120px] hover:text-yellow-main" href="about.html">About us</a>
      <a class="block md:inline-block hover:text-pink-secondary"  href="feedback.html">Feedback</a>
    </div>
    
  </nav>
